{% include '_header' %}

<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Thank you {{name}}!</h1>

	<a href="?path=login/logout">logout</a>
  </div>
</div>

{% include '_footer' %}